@using MD.Model.DB.Code;
@using MD.Lib.Util;
@model MD.Model.DB.Group
@{
    Layout = null;
    // string qdate = DateTime.Now.AddDays(3).ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>04 商品管理 创建拼团-创建抽奖团</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" type="text/css" href="/Content/main.css">
    <link rel="stylesheet" type="text/css" href="/Content/ico.css">

    <script src="/Scripts/group/gcommon.js?v=20161112"></script>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/daterangepicker-bs3.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/laydate.dev.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var myDate = new Date();
            $('#birthday').daterangepicker({
                timePicker: true,
                singleDatePicker: true,
                format: 'YYYY-MM-DD HH:mm',
                startDate: moment(),
                minDate: moment().subtract("days", 1),
                timePicker12Hour: true
            }, function (start, label) {
                $("#lucky_endTime").val(start.format('YYYY-MM-DD HH:mm'));
            });
            //修改初始化抽奖结束时间
            //initLucky_endTime();
        });
        function initLucky_endTime() {
            var endTime = $('#lucky_endTime').val();
            if (endTime != "" && endTime != "0") {
                $('#birthday').val(endTime);
            }
        }
    </script>

    <style type="text/css">
        .red {
            color: #F00;
        }
    </style>
</head>
<body>
    <!--header-->

    @Html.Partial("Header/_headerGroup")

    <div class="SYS-set">
        <div class="SYS-set-c mgc">

            <form id="grouplucky_from" class="ft14" action="/Group/GroupSave_lucky" method="post" enctype="multipart/form-data">
                <div class="inputText-Tap mgb20 mgt19">
                    <span class="w100">团标题</span><input class="coInp" type="text" readonly="readonly" disabled="disabled" value="@Model.title" />
                </div>
                <div class="inputText-Tap mgb20">
                    <span class="w100">中奖人数</span>
                    @if (Model.status == (int)EGroupStatus.已发布&&Model.lucky_status==(int)EGroupLuckyStatus.已开奖)
                    {
                        @Html.TextBoxFor(model => model.lucky_count, new { @class = "coInp", style = "width:146px;", placeholder = "中奖人数", @readonly = "readonly" })
                        <span id="spanluckycounts" class="red" style="display: none">请输入正整数！</span>
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.lucky_count, new { @class = "coInp", style = "width:146px;", placeholder = "中奖人数" })
                        <span id="spanluckycounts" class="red" style="display: none">请输入正整数！</span>
                    }
                </div>

                <div class="inputText-Tap mgb20">
                    <span class="w100" style="float:left;">结束时间</span>
                    @if (Model.status == (int)EGroupStatus.已发布 && Model.lucky_status == (int)EGroupLuckyStatus.已开奖)
                    {
                        <div class="input-prepend input-group" style="padding-left:20px;float:left; width:240px;">
                            <span class="add-on input-group-addon">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            </span>
                            @*<input type="text" readonly="readonly" style="width: 200px" name="birthday" id="birthday" class="form-control" disabled="disabled" />*@
                            <input type="text" style="width: 200px" id="lucky_endTime" name="lucky_endTime"  class="form-control" readonly="readonly" value="@Model.lucky_endTime"/>
                        </div>
                        @*@Html.TextBoxFor(model => model.lucky_endTime, new { style = "display: none" })*@
                    }
                    else
                    {
                        <div class="input-prepend input-group" style="padding-left:20px;float:left; width:240px;">
                            <span class="add-on input-group-addon">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            </span>
                            @*<input type="text" readonly style="width: 200px" name="birthday" id="birthday" class="form-control" />*@
                            <input type="text" style="width: 200px" id="lucky_endTime" name="lucky_endTime" class="form-control" value="@Model.lucky_endTime" onclick='laydate({ elem: " #lucky_endTime", format: "YYYY-MM-DD hh:mm:ss", istime: true });'>
                        </div>
                        <span id="spanluckyendTime" class="red" style="display:none;">请选择结束时间！</span>
                        @*@Html.TextBoxFor(model => model.lucky_endTime, new { style = "display: none" })*@
                    }
                </div>
                <br />
                <input type="text" name="gid" value="@Model.gid" style="display: none" />
                <input type="text" name="pid" value="@Model.pid" style="display: None">
                <input type="text" name="mid" value="@Model.mid" style="display: None">
                <input type="text" name="status" value="@Model.status" style="display: None">
                <input style="margin-left: 143px;" class="inputBtn-Tap" onclick="submitFormGroup_lucky()" value="提交" readonly="readonly" />
            </form>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <div class="footer-c mgc">
            <p>美美哒科技 版权所有 / 鄂 ICP 备 16005905号-1</p>
        </div>
    </div>
</body>
</html>
